<div ng-controller="FormController">
  <h2>CSV content</h2>
  <h4>Enter CSV formatted data</h4>
  <!--material-list class="groups">
    <material-item class="group" ng-repeat="(gkey, group) in g.getGroups()">
      <div class="material-tile-left">
        <face>
          <button ng-hide="group.members.length > 0"
                  ng-click="g.deleteGroup(gkey)"
                  class="delete-button">
            x
          </button>
        </face>
      </div>
      <div class="material-tile-content">
        {{ group.name }}
      </div>
      <div class="material-tile-right">
        {{ group.members.length }} members
      </div>
    </material-item>
  </material-list-->

  <div class="zzz-material-input-group">
    <!--label for="csv-data">CSV data</label-->
    <textarea id="csv-data"
           ng-model="csv.data">
    </textarea>
    <button ng-disabled="!csv.data"
            ng-click="parseCSV()"
            class="add-button">
      Parse CSV
    </button>
  </div>
</div>
