<material-content ng-controller="HomeController">
  <h1>CSV Parser</h1>
  <h3>CSV Specification at
    <a href="http://tools.ietf.org/html/rfc4180"
       target="_blank">
      RFC4180
    </a>
  </h3-->
  <h4>Angular Material Design implementation using Polymer Web Components</h4>
  <material-tabs selected="which" nobar nostretch zzz-class="special">

    <material-tab >
      <material-tab-label>CSV Input</material-tab-label>
      <div class="whiteArea"
           ng-include="'views/Form.html'"></div>
    </material-tab>

    <material-tab>
      <material-tab-label>Parsed CSV Output</material-tab-label>
      <div class="whiteArea"
           ng-include="'views/Table.html'"></div>
    </material-tab>

  </material-tabs>
</material-content>
